<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>
</head>
<body>
<h3> Student Registration Form </h3>
<form th:action="@{/processStudentForm}" th:object="${student}" method="post">
<!--    *{firstName} == ${student.firstName}    -->
    First name: <input type="text" th:field="*{firstName}" />
    <br><br>

    Last name: <input type="text" th:field="*{lastName}" />
    <br><br>

    Country:
    <select th:field="*{country}">
<!--        loop over the countries.... -->
        <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}" />
    </select>
    <br><br>

    Favorite Programming Language:
<!--    <input type="radio" th:field="*{favoriteLanguage}" th:value="Go"> GO </input>-->
<!--    <input type="radio" th:field="*{favoriteLanguage}" th:value="Java"> Java </input>-->
<!--    <input type="radio" th:field="*{favoriteLanguage}" th:value="cpp"> CPP </input>-->
    <input type="radio" th:field="*{favoriteLanguage}"
                        th:each="tempLang : ${languages}"
                        th:value="${tempLang}"
                        th:text="${tempLang}" />
    <br><br>

    Favorite Operating Systems:
    <input type="checkbox" th:field="*{favoriteOS}"
                           th:each="tempOS : ${systems}"
                           th:value="${tempOS}"
                           th:text="${tempOS}" />
    <br><br>

    <input type="submit" value="Submit"/>

</form>
</body>
</html>